body {
    font-size: 11px;
    font-family:sans-serif
}

/* Esercizio per casa */

/* first container */

.container .row:nth-child(1) .col-1 {
    padding: 20px 40px 20px 40px;
    font-size: 15px;
    border: 1px solid white;
    color: white;
    background-color: #006CFA;
    text-align: center;
}

.container .row:nth-child(2) .col-2,
.container .row:nth-child(2) .col-5 {
    padding: 20px 40px 20px 40px;
    font-size: 15px;
    border: 1px solid white;
    color: white;
    background-color: #006CFA;
    text-align: center;
}

.container .row:nth-child(3) .col-12 {
    padding: 20px 40px 20px 40px;
    font-size: 15px;
    
    color: white;
    background-color: #006CFA;
    text-align: center;
}

.container .row:nth-child(4) .col-2,
.container .row:nth-child(4) .col-8 {
    padding: 20px 40px 20px 40px;
    font-size: 15px;
    border: 1px solid white;
    color: white;
    background-color: #006CFA;
    text-align: center;
}

.container .row:nth-child(5) .col-1,
.container .row:nth-child(5) .col-2,
.container .row:nth-child(5) .col-6 {
    padding: 20px 40px 20px 40px;
    font-size: 15px;
    border: 1px solid white;
    color: white;
    background-color: #006CFA;
    text-align: center;
}

.container .row:nth-child(6) .col-6 {
    padding: 10px 10px 10px 10px;
    font-size: 15px;
    border: 1px solid white;
    color: white;
    background-color: #006CFA;
    text-align: center;
}

.container .row:nth-child(6) .col-6 .row .col-2,
.container .row:nth-child(6) .col-6 .row .col-6,
.container .row:nth-child(6) .col-6 .row .col-8 {
    padding: 10px 10px 10px 10px;
    font-size: 11px;
    border: 1px solid blue;
    color: white;
    background-color: #00E165;
    text-align: center;
}

/* / first container */


/* second container */

.second.container {
    margin-top: 20px;
}

.second.container .row:nth-child(1) .col-12 {
    height: 50px;
    background-color: #006CFA;
}

.second.container .row:nth-child(2) .col-1,
.second.container .row:nth-child(2) .col-11 {
    height: 50px;
    background-color: #006CFA;
    border: 1px solid white;
}

.second.container .row:nth-child(3) .col-2,
.second.container .row:nth-child(3) .col-10 {
    height: 50px;
    background-color: #006CFA;
    border: 1px solid white;
}

.second.container .row:nth-child(4) .col-3,
.second.container .row:nth-child(4) .col-9 {
    height: 50px;
    background-color: #006CFA;
    border: 1px solid white;
}

.second.container .row:nth-child(5) .col-4,
.second.container .row:nth-child(5) .col-8 {
    height: 50px;
    background-color: #006CFA;
    border: 1px solid white;
}

.second.container .row:nth-child(6) .col-5,
.second.container .row:nth-child(6) .col-7 {
    height: 50px;
    background-color: #006CFA;
    border: 1px solid white;
}


.second.container .row:nth-child(7) .col-6,
.second.container .row:nth-child(7) .col-6 {
    height: 50px;
    background-color: #006CFA;
    border: 1px solid white;
}

/* / second container */

/* / Esercizio per casa */


/* Offset */

h1 {
    margin-top: 20px;
}

.offset.container .row:nth-child(1) .col-1 {
    height: 50px;
    background-color: #006CFA;
    border: 1px solid white;
}

.offset.container .row:nth-child(2) .col-2 {
    height: 50px;
    background-color: #006CFA;
    border: 1px solid white;
}

.offset.container .row:nth-child(3) .col-3 {
    height: 50px;
    background-color: #006CFA;
    border: 1px solid white;
}

.offset.container .row:nth-child(4) .col-4 {
    height: 50px;
    background-color: #006CFA;
    border: 1px solid white;
}

.offset.container .row:nth-child(5) .col-5 {
    height: 50px;
    background-color: #006CFA;
    border: 1px solid white;
}

.offset.container .row:nth-child(6) .col-6 {
    height: 50px;
    background-color: #006CFA;
    border: 1px solid white;
}

.offset.container .row:nth-child(7) .col-7 {
    height: 50px;
    background-color: #006CFA;
    border: 1px solid white;
}

.offset.container .row:nth-child(8) .col-8 {
    height: 50px;
    background-color: #006CFA;
    border: 1px solid white;
}

.offset.container .row:nth-child(9) .col-9 {
    height: 50px;
    background-color: #006CFA;
    border: 1px solid white;
}

.offset.container .row:nth-child(10) .col-10 {
    height: 50px;
    background-color: #006CFA;
    border: 1px solid white;
}

.offset.container .row:nth-child(11) .col-11 {
    height: 50px;
    background-color: #006CFA;
    border: 1px solid white;
}

/* / Offset */


/* Nested */

.nested.container .row .col-8,
.nested.container .row .col-4 {
    height: 50px;
    padding: 10px 10px 10px 10px;
    background-color: #006CFA;
    border: 1px solid white;
}

.nested.container .row .col-8 .row .col-2,
.nested.container .row .col-8 .row .col-8 {
    height: 30px;
    background-color: #00E165;
    border: 1px solid #006CFA;
}

.nested.container .row .col-4 .row .col-6 {
    height: 30px;
    background-color: #00E165;
    border: 1px solid #006CFA;
}


/* / Nested */