body {
    font-size: 11px;
    font-family:sans-serif
}

/* Esercizio per casa */

.container .row:nth-child(1) .col,
.container .row:nth-child(1) .col-1 {
    padding: 20px 40px 20px 40px;
    font-size: 15px;
    margin: 1px;
    color: white;
    background-color: #006CFA;
    text-align: center;
}

.container .row:nth-child(2) .col,
.container .row:nth-child(2) .col-5 {
    padding: 20px 40px 20px 40px;
    font-size: 15px;
    margin: 1px;
    color: white;
    background-color: #006CFA;
    text-align: center;
}

.container .row:nth-child(3) .col {
    padding: 20px 40px 20px 40px;
    font-size: 15px;
    margin: 1px;
    color: white;
    background-color: #006CFA;
    text-align: center;
}

.container .row:nth-child(4) .col,
.container .row:nth-child(4) .col-8 {
    padding: 20px 40px 20px 40px;
    font-size: 15px;
    margin: 1px;
    color: white;
    background-color: #006CFA;
    text-align: center;
}

.container .row:nth-child(5) .col,
.container .row:nth-child(5) .col-1,
.container .row:nth-child(5) .col-2,
.container .row:nth-child(5) .col-6 {
    padding: 20px 40px 20px 40px;
    font-size: 15px;
    margin: 1px;
    color: white;
    background-color: #006CFA;
    text-align: center;
}

.container .row:nth-child(6) .col,
.container .row:nth-child(6) .col-6 {
    padding: 20px 40px 20px 40px;
    font-size: 15px;
    margin: 1px;
    color: white;
    background-color: #006CFA;
    text-align: center;
}

.container .row:nth-child(6) .col-6 .row [class*="col"],
.container .row:nth-child(6) .col .row [class*="col"] {
    padding: 20px 40px 20px 40px;
    font-size: 11px;
    margin: 1px;
    color: white;
    background-color: #00E165;
    text-align: center;
}

.second.container {
    margin-top: 20px;
}

.second.container .row:nth-child(1) .col {
    height: 50px;
    background-color: #006CFA;
    margin: 1px;
}

.second.container .row:nth-child(2) .col,
.second.container .row:nth-child(2) .col-11 {
    height: 50px;
    background-color: #006CFA;
    margin: 1px;
}

.second.container .row:nth-child(3) .col,
.second.container .row:nth-child(3) .col-10 {
    height: 50px;
    background-color: #006CFA;
    margin: 1px;
}

.second.container .row:nth-child(4) .col,
.second.container .row:nth-child(4) .col-9 {
    height: 50px;
    background-color: #006CFA;
    margin: 1px;
}

.second.container .row:nth-child(5) .col,
.second.container .row:nth-child(5) .col-8 {
    height: 50px;
    background-color: #006CFA;
    margin: 1px;
}

.second.container .row:nth-child(6) .col,
.second.container .row:nth-child(6) .col-7 {
    height: 50px;
    background-color: #006CFA;
    margin: 1px;
}


.second.container .row:nth-child(7) .col,
.second.container .row:nth-child(7) .col-6 {
    height: 50px;
    background-color: #006CFA;
    margin: 1px;
}

/* / Esercizio per casa */


/* Offset */

h1:last-of-type {
    margin-top: 20px;
}

.offset.container .row:nth-child(1) .col {
    height: 50px;
    background-color: #006CFA;
    margin: 1px;
}

.offset.container .row:nth-child(2) .col {
    height: 50px;
    background-color: #006CFA;
    margin: 1px;
}

.offset.container .row:nth-child(3) .col {
    height: 50px;
    background-color: #006CFA;
    margin: 1px;
}

.offset.container .row:nth-child(4) .col {
    height: 50px;
    background-color: #006CFA;
    margin: 1px;
}

.offset.container .row:nth-child(5) .col {
    height: 50px;
    background-color: #006CFA;
    margin: 1px;
}

.offset.container .row:nth-child(6) .col {
    height: 50px;
    background-color: #006CFA;
    margin: 1px;
}

.offset.container .row:nth-child(7) .col {
    height: 50px;
    background-color: #006CFA;
    margin: 1px;
}

.offset.container .row:nth-child(8) .col {
    height: 50px;
    background-color: #006CFA;
    margin: 1px;
}

.offset.container .row:nth-child(9) .col {
    height: 50px;
    background-color: #006CFA;
    margin: 1px;
}

.offset.container .row:nth-child(10) .col {
    height: 50px;
    background-color: #006CFA;
    margin: 1px;
}

.offset.container .row:nth-child(11) .col {
    height: 50px;
    background-color: #006CFA;
    margin: 1px;
}

/* / Offset */